
.create_course {
    border: 2px solid #95CEE8;
    margin: 1rem;
}

.main-content {
    border: 1px solid #11110E;
    margin: 1rem;
    padding: 1rem;
}

.description {
    margin: 1rem;
}

.description__text {
    border: 2px solid #E5E078;
}

ul {
    list-style-type: none;
}

li {
    margin: 0.5rem;
}

span {
    font-size:x-large;
    font-weight: bold;
}